# Python
data
unet
results
# 忽略 models 目录下以 d 和 u 开头的文件
models/d*
models/unet_*
models/_pycache_
util.py
utils/__pycache__/data_augmentation.cpython-312.pyc
logs/metrics.csv


# git config --global user.name "Latinaxia"
# git config --global user.email "3276327856@qq.com"